/*! General | initial | Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 4s;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 70%;
    margin: auto;
    padding: 10px 6px;
}

ul {
    list-style: none;
}

/** Theme & Styles */

:root {
    --red-color: #a60450;
    --blue-color: #2196f3;
    --green-color: #00c491;
    --dark-shadow: #112b27;
}

/*? Theme Mode Changer */

#theme-mode-check:checked+.theme-toggle-slider {
    transform: translateX(26px);
}

body.light-mode .theme-toggle {
    background-color: #a60450;
}

body.light-mode {
    background-color: lightblue;
    color: #111;
}

body.light-mode header {
    background-color: rgba(17, 43, 39, 0.4);
}

body.light-mode .logo-name {
    color: #a60450;
}

body.light-mode .product-navbar .container {
    background-color: rgba(17, 43, 39, 0.4);
}

body.light-mode .product-navbar a {
    color: #111;

    &:hover {
        color: #a60450;
    }
}

body.light-mode .feature-section {
    background-color: #2196f3;
}

body.light-mode .feature-item p {
    color: #fff;
}

body.light-mode .feature-section h2 {
    color: #fff;
}

body.light-mode .product-feature-section,
body.light-mode .product-accessories-section {
    background-color: rgba(17, 43, 39, 0.4);
}

body.light-mode .product-accessories-section h2 {
    color: #112b27;
    transition: 3s;
}

body.light-mode .accessory-card {
    color: #ccc;
}

body.light-mode .product-feature-section h2 {
    background-image: linear-gradient(128.87deg, #000 14.05%, #911a80 100.3%);
}

body.light-mode .feature-item {
    box-shadow: #000 0px 25px 50px -12px;
}

body.light-mode .console-item {
    background-color: rgba(255, 255, 255, 0.8);

    &:hover {
        background-color: rgb(0, 196, 145, 0.4);
    }
}

body.light-mode .console-item-details {
    color: #000;
    font-weight: 600;
}

/*? Header */

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(16px);
    width: 100vw;
    transition: background-color 3s;
}

header .container {
    height: 60px;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name {
    cursor: default;
    color: #2196f3;
    transition: color 3s;
}

.web-logo-img {
    width: 50px;

    & img {
        width: 100%;
        height: auto;
        transition: .6s;
    }
}

.web-logo-img img:hover {
    scale: 1.1;
}

.theme-toggle {
    display: inline-block;
    width: 44px;
    height: 16px;
    position: relative;
    top: 4px;
    background-color: #0ffcbd;
    border-radius: 16px;
    cursor: pointer;
    transition: .6s;
}

.theme-toggle #theme-mode-check {
    display: none;
}

.theme-toggle-slider {
    display: inline-block;
    width: 14px;
    aspect-ratio: 1;
    background-color: #112b27;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 1px;
    transition: .6s;
}

/*? Hero Section */

.hero-section .container {
    padding: 0;
}

.hero-section {
    height: calc(100vh - 62px);
    background: url('images/roomGamer.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0 0 0.5rem 0.5rem;
}

/**? Navigation Bar/Menu */

nav .container {
    padding: 0;
}

.home-navbar .container {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 6px;
}

.product-navbar .container {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 3s;
    border-radius: 0 0 1rem 1rem;
}

nav ul {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav ul a {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: #0ffcbd;
    font-weight: 600;
    transition: .4s;
}

nav ul a:hover {
    color: #fff;
    transform: translateY(-4px);
}

/*? Features Section */

.feature-section {
    margin: 3rem auto;
    padding: 1.5rem 1rem;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: .5rem;
    transition: 3s;
}

.feature-section h2 {
    color: #00c491;
    text-align: center;
    font-size: 2rem;
    transition: 3s;
    cursor: default;
}

.feature-container {
    margin-top: 1.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
}

.feature-item {
    max-width: 260px;
    padding: 1rem;
    background-color: #000;
    border-radius: 1rem;
    box-shadow: rgb(15, 252, 189, 0.2) 0px 25px 50px -12px;
    cursor: default;
}

.feature-item h3 {
    color: #a60450;
    text-align: center;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.feature-item p {
    line-height: 1.5;
    font-size: 1.05rem;
    color: #2196f3;
    transition: 3s;
}

.feature-item-perspective-left {
    transform: perspective(1500px) rotateY(15deg);
    transition: transform .6s ease 0s;
}

.feature-item-perspective-left:hover {
    transform: perspective(3000px) rotateY(10deg);
}

.feature-item-perspective-right {
    transform: perspective(1500px) rotateY(-15deg);
    transition: transform .6s ease 0s;
}

.feature-item-perspective-right:hover {
    transform: perspective(3000px) rotateY(-10deg);
}

/*? Comparison Table */

.comparison-section {
    margin: 1rem auto;
    background-image: url('images/brokenRed.jpg');
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
    color: #fff;
}

.comparison-section-heading {
    color: #fff;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(166, 4, 80, 0.5);
    margin-bottom: .5rem;
    backdrop-filter: blur(2px);
    cursor: default;
}

.consoles-container {
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.consoles-container a {
    text-decoration: none;
}

.console-item {
    width: 280px;
    height: 350px;
    overflow: hidden;
    border-radius: .4rem;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000cc;
    backdrop-filter: blur(10px);
    transition: 0.6s;
}

.console-item:hover {
    background-color: rgb(0, 196, 145, 0.4);
    backdrop-filter: blur(16px);
    transform: translate(4px, 4px);
}

.console-item-id {
    width: 100%;
    height: 26px;
    line-height: 2;
    padding-left: 0.6rem;
    background-color: #00c491;
    color: #111;
    font-family: monospace;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.console-item .img {
    width: 100%;
    height: 150px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.console-item .img img {
    height: 100%;
    transition: scale 0.6s;
}

.console-item .img img:hover {
    scale: 1.2;
}

.console-item-details {
    width: 100%;
    height: 170px;
    color: #fff;
    padding: 1rem;
    display: flex;
    letter-spacing: 0.2px;
    flex-direction: column;
    justify-content: space-between;
}


/*! Product Page */

/* ? Header */

.logo-name span {
    font-size: 0.8rem;
    font-family: sans-serif;
}

/*? Product Feature Section  */

.product-feature-section {
    min-height: calc(100vh - 120px);
    transition: 3s;
    margin: 0.4rem auto;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.product-feature-section h2 {
    flex-basis: 60%;
    word-spacing: 4px;
    text-align: center;
    font-size: 2.7rem;
    background-image: linear-gradient(128.87deg, #2196f3 14.05%, #a60450 100.3%, #00c491 89.3%);
    background-clip: text;
    color: transparent;
    transition: 2s;
}

.product-feature-img {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(-1);
}

.product-feature-img img {
    width: 100%;
    height: auto;
}

/*? Accessories */

.product-accessories-section {
    margin: 0.4rem auto;
    border-radius: 1rem;
    transition: 3s;
}

.product-accessories-section h2 {
    color: #00c491;
    text-transform: uppercase;
    text-align: center;
}

.accessories-container {
    margin-top: 1rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.accessory-card {
    background-color: rgb(145, 26, 128, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px #00c491a9;
    padding: 1rem;
    text-align: center;
    transition: .6s;
    cursor: pointer;
}

.accessory-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px #911a80;
}

.accessory-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/** Footer */

footer {
    padding: 0 1rem;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1rem 1rem 0 0;

    & a {
        color: #a60450;
        letter-spacing: 0.4px;
        font-weight: 700;
        text-decoration-style: wavy;
    }
}

/*! Media Queries */

@media (width < 770px) {
    .container {
        width: 100%;
    }

    .feature-container {
        justify-content: center;
    }

    .accessory-card {
        padding: 15px;
    }
}

@media (width < 670px) {
    header .logo-name {
        font-size: 1.4rem;
    }

    .console-item {
        width: 240px;
    }

    .feature-section {
        padding: auto 0;
    }

    .feature-container {
        gap: 1rem;
        padding: 1rem;
    }

    .feature-item {
        width: 220px;
    }

    .product-feature-section {
        flex-wrap: wrap;
        gap: 10px;
    }

    .product-feature-section h2 {
        font-size: 1.5rem;
    }
}

@media (width < 450px) {
    header .container {
        flex-wrap: wrap;
    }

    .home-navbar .container {
        background-color: rgba(51, 51, 51, 0.1);
    }

    nav ul {
        height: fit-content;
        flex-direction: column;
        gap: 4px;
        align-items: end;
        justify-content: start;
        padding: 4px 1rem;
    }

    .hero-section {
        height: calc(100vh - 50px);
    }

    .feature-item {
        width: 260px;
    }
}